# masOS hidden files
*.DS_Store
*~

# other temporary files
\#*\#
.\#*
ref/*
*conflicted*
*.swp
*.bak
# private files if you want to keep them locally
local
*.sh
.ipynb_checkpoints/
njoy/
venv/
api/
back/
.zip
.tar
__pycache__/
